[package]
name = "stellar-base"
version = "0.5.0-beta.2"
authors = ["Francesco Ceccon <francesco@ceccon.me>"]
edition = "2018"
description = "Low level Stellar types"
license = "Apache-2.0"
documentation = "https://docs.rs/stellar-base"
repository = "https://github.com/aurora-rs/stellar-sdk"
readme = "README.md"
keywords = ["stellar", "blockchain"]


[dependencies]
base32 = "0.4.0"
base64 = "0.12.3"
bitflags = "1.2.1"
byteorder = "1.3.4"
chrono = "0.4.13"
crc16 = "0.4.0"
json = "0.12.0"
num-traits = "0.2.12"
num-bigint = "0.2.0"
num-rational = "0.3.0"
rust_decimal = "1.6.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sodiumoxide = "0.2.5"
thiserror = "1.0.20"
xdr-rs-serialize = "0.2.4"
xdr-rs-serialize-derive = "0.2.3"