name: Create Release
on:
  push:
    tags: ["v*"]

jobs:
  ci:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Cargo login
        uses: actions-rs/cargo@v1
        with:
          command: login
          args: -- ${{ secrets.CARGO_TOKEN }}

      - name: Cargo publish stellar-base
        uses: actions-rs/cargo@v1
        with:
          command: publish -p stellar-base

      - name: Cargo publish stellar-horizon
        uses: actions-rs/cargo@v1
        with:
          command: publish -p stellar-horizon

      - name: GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
